.app
	display flex
	justify-content center
	align-items top
	flex-wrap wrap
	padding 50px
	margin-bottom 10px
	border 1px solid #ccc
	background-color #fff

// Controls

.app__controls
	display flex
	flex-direction column
	justify-content flex-start
	padding-right 50px
	border-right 1px solid #ccc

.temp
	display flex
	justify-content center
	align-items center
	margin-bottom 30px
	font-size 0

.temp__btn
	position relative
	width 50px
	height 50px
	padding 15px
	font-size 20px
	border none
	border-radius 50%
	background-color #fff
	cursor pointer
	transition all 0.1s ease-in

	&[disabled] .temp__btn-icon
		fill #aaa

.temp__btn-icon
	width 20px
	height 20px

.temp__current
	width 100px
	margin 0 30px
	font-size 40px
	font-weight 700
	line-height 50px
	text-align center
	border none

.play
	position relative
	padding 5px 20px
	font-size 30px
	border none
	background-color #fff
	transition all 0.2s ease-in
	cursor pointer

// Settings

.app__settings
	padding-left 50px

.timing
	display flex
	justify-content center
	align-items center
	margin-bottom 20px

.timing__wrapper
	display flex
	flex-direction column
	justify-content center
	align-items center

.timing__btn
	width 30px
	height 20px
	line-height 20px
	border none
	background-color transparent
	transition opacity 0.2s ease-in
	cursor pointer

.timing__btn-icon
	width 10px
	height 10px

.timing__number,
.timing__slash
	font-size 40px
	font-weight 700
	user-select none

.timing__number
	width 80px
	padding 10px 0
	padding-left 0
	text-align center

// Checkboxs

.checkbox__wrapper + .checkbox__wrapper
	margin-top 10px


.label
	position relative
	padding-left 70px
	line-height 30px
	cursor pointer

.label::before
	content ''
	position absolute
	top 50%
	left 0
	transform translateY(-50%)
	display block
	width 52px
	height 30px
	border 2px solid #000
	border-radius 30px
	transition all 0.15s ease-in

.label::after
	content ''
	position absolute
	top 50%
	left 4px
	transform translateY(-50%)
	display block
	width 22px
	height 22px
	border-radius 50%
	background-color #000
	transition all 0.15s ease-in

.checkbox:checked + .label::before
	background-color #000

.checkbox:checked + .label::after
	transform translate(22px, -50%)
	background-color #fff




.tips
	color #777

audio
	display none
