.app
	display flex
	justify-content center
	align-items top
	padding 50px
	margin-bottom 10px
	border 1px solid #ccc
	background-color #fff

// Controls

.app__controls
	display flex
	flex-direction column
	justify-content space-between
	padding-right 50px
	border-right 1px solid #ccc

.temp
	display flex
	justify-content center
	align-items center
	margin-bottom 30px
	font-size 0

.temp__btn
	position relative
	width 50px
	height 50px
	padding 15px
	font-size 20px
	border none
	border-radius 50%
	background-color #fff
	cursor pointer
	transition all 0.1s ease-in

	&[disabled] .temp__btn-icon
		fill #aaa

.temp__btn-icon
	width 20px
	height 20px

.temp__current
	width 100px
	height 50px
	margin 0 30px
	font-size 40px
	font-weight 700
	text-align center
	border none

.play
	position relative
	padding 5px 20px
	font-size 30px
	border none
	background-color #fff
	transition all 0.2s ease-in
	cursor pointer

// Settings

.timing
	display flex
	justify-content center
	align-items center
	padding-left 25px

.timing__wrapper
	display flex
	flex-direction column
	justify-content center
	align-items center

	&:hover .timing__btn
		opacity 1


.timing__btn
	width 30px
	height 20px
	line-height 20px
	border none
	background-color transparent
	opacity 0
	transition opacity 0.2s ease-in
	cursor pointer

.timing__btn-icon
	width 10px
	height 10px

.timing__number,
.timing__slash
	font-size 40px
	font-weight 700
	user-select none

.timing__number
	width 120px
	padding 10px 25px
	text-align center

.timing__slash
	// margin 0 25px






.tips
	color #777

audio
	display none
