h1 metronome
.app
	.app__controls
		.temp
			button.temp__btn.temp__slower(
				ref='slower',
				@click.shift='slower(9)',
				@click='slower(1)',
				v-longclick="() => temp--"
			)
				svg.temp__btn-icon
					use(xlink:href='#icon-minus')
			span.temp__current {{ temp }}
			button.temp__btn.temp__faster(
				@click.shift='faster(9)',
				@click='faster(1)',
				v-longclick="() => temp++"
			)
				svg.temp__btn-icon
					use(xlink:href='#icon-plus')
		button.play(@click='btnClick') {{ btnName }}
	.app__settings
		.timing
			.timing__beats-wrapper.timing__wrapper
				button.timing__btn.timing__beats-increase(
					@click='increaseBeats'
				)
					svg.timing__btn-icon
						use(xlink:href='#icon-plus')
				span.timing__number.timing__beats {{ beats }}
				button.timing__btn.timing__beats-decrease(
					@click='decreaseBeats'
				)
					svg.timing__btn-icon
						use(xlink:href='#icon-minus')
			span.timing__slash /
			.timing__length-wrapper.timing__wrapper
				button.timing__btn.timing__length-increase(
					@click='increaseNoteLength'
				)
					svg.timing__btn-icon
						use(xlink:href='#icon-plus')
				span.timing__number.timing__length {{ noteLength }}
				button.timing__btn.timing__length-increase(
					@click='decreaseNoteLength'
				)
					svg.timing__btn-icon
						use(xlink:href='#icon-minus')
		.emphasis
			.emphasis__inner
				input.emphasis__checkbox.visuallyhidden(type="checkbox" id="emphasis" v-model='emphasis' checked)
				label.emphasis__label(for="emphasis") First beat emphasis
p.tips hold SHIFT to change tempo by 10
