header.header
	.header__wrapper
		a.header__logo-wrapper(href='#', aria-label='logo')
			img.header__logo(src='#', alt='#')
		nav.nav
			button.nav-close-btn(aria-label='Close menu')
			ul.nav__list
				li.nav__item
					a.nav__link(href='#') Item1
				li.nav__item
					a.nav__link(href='#') Item2
				li.nav__item
					a.nav__link(href='#') Item3
				li.nav__item
					a.nav__link(href='#') Item4
				li.nav__item
					a.nav__link(href='#') Item5
		button.nav-open-btn(aria-label='Open menu')
